{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}

<script src="https://maps.googleapis.com/maps/api/js?key=ここにAPIキー&libraries=places&callback=initMap" defer></script>
<script src="/static/map.js"></script>

<style>
  #map{
    height: 90%;
    position: absolute;
	  top:0; left:0; right:0;
    z-index: 0;
  }
  #kensaku{
    display:block;
    position: relative;
    top:60%;
    left:1.2rem;
	  z-index: 2000;
    padding:1.2rem;
    margin: auto;
    height:8rem;
    width:15rem;
    background-color: #FFC83C;

  }
  #daily_container{
    display:block;
    position: absolute;
    top:8rem;
    z-index: 2000;
    height:8rem;
    width:15rem;
  }
  input{
    display:block;
    margin:auto;
  }
</style>

<div id="map"></div>


<div id="daily_container">
  <div class="dailyquest_home"><p>デイリークエスト</p></div>
</div>
<div id="kensaku">
  <input type="text" id="keyword" autocomplete="off"> </input>
   <button id="get_location">検索</button>
</div>

{% endblock %}

{% block footer %}

    <img id="reload" src="../static/images/reload.png" style="width:4.8rem;" onClick="initMap()">

{% endblock %}

