{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}

<script src="https://maps.googleapis.com/maps/api/js?key=ここにAPIキーをいれる&libraries=places&callback=initMap" defer></script>
<script src="/static/map.js"></script>


<div id="map"></div>


<div id="daily_container">
  {% for daily in dailys %}
  <div class="dailyquest_home"><p>{{ daily[1] }}</p></div>
  {% endfor %}
</div>


<div class="search_form">
  <input type="text" class="search_box" id="keyword" autocomplete="off"> </input>
   <button class="search_button" id="get_location"></button>
</div>


{% endblock %}

{% block footer %}

    <img id="reload" src="../static/images/reload.png" style="width:4.8rem;" onClick="initMap()">

{% endblock %}

