{% extends "layout.html" %}

{% block title %}
    Quest
{% endblock %}

{% block main %}

<style>

    div{
        display: flex;
        justify-content: center;
    }
</style>

    {% for daily in dailys %}
        <form action="/achieve_quest" method="POST">
            <div class="dailyquest">
                <label for="{{ daily[0] }}">{{ daily[1] }}</label>
                <input type="hidden"  name="id" value="{{ daily[0] }}">
                <button class="btn button-important" type="submit">達成</button>
            </div>
        </form>
    {% endfor %}



    {% for spot in spots %}
        <div>
            <p>{{ spot[0] }}</p>
            <button>達成</button>
        </div>
    {% endfor %}

{% endblock %}

{% block footer %}

    <a href="/"><img src="../static/images/home.png" style="width:4.8rem;"></a>

{% endblock %}