{% extends "layout.html" %}

{% block title %}
    Quest
{% endblock %}

{% block main %}
    <div class="title">
        <h1>デイリークエスト</h1>
    </div>
    {% for daily in dailys %}
    {% if daily[2] == 0 %}
        <form action="/achieve_daily_quest" method="POST">
            <div class="dailyquest">
                <label for="{{ daily[0] }}">{{ daily[1] }}</label>
                <input type="hidden"  name="id" value="{{ daily[0] }}">
                <button class="button-important" type="submit">クリア</button>
            </div>
        </form>
        {% endif %}
    {% endfor %}

    <div class="title">
        <h1>メインクエスト</h1>
    </div>
    {% for spot in spots %}
    {% if spot[3] == 0 %}
        <form action="/achieve_spot_quest" method="POST">
            <div class="mainquest">
                <label for="{{ spot[0] }}">{{ spot[1] }}</label>
                <input type="hidden"  name="id" value="{{ spot[0] }}">
                <button class="button-normal" type="submit">クリア</button>
            </div>
        </form>
        {% endif %}
    {% endfor %}

{% endblock %}

{% block footer %}

    <a href="/"><img src="../static/images/home.png" style="width:4.8rem;"></a>

{% endblock %}