{% extends "layout.html" %}

{% block title %}
    Quest
{% endblock %}

{% block main %}

<style>
    
    div{
        display: flex;
        justify-content: center;
    }
</style>
    
    {% for daily in dailys %}
        <form action="/quest" method="POST">
            <div>     
                <input type="submit" value="{{ daily[1] }}" name="{{ daily[1] }}">
            </div>
        </form>
    {% endfor %}



    {% for spot in spots %}
        <div>
            <p>{{ spot[0] }}</p>
            <button>達成</button>
        </div>
    {% endfor %}

{% endblock %}